/* custom template */
html, body {
	height: 100%;
	font-family: verdana, arial, sans-serif;
	color: #555555;
}

.nav {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

a {
	color: #222222;
}

a:hover {
	text-decoration: none;
}

hr {
	border-color: #dedede;
}

.wrapper, .row {
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.wrapper:before, .wrapper:after, .column:before, .column:after {
	content: "";
	display: table;
}

.wrapper:after, .column:after {
	clear: both;
}

.column {
	height: 100%;
	overflow: auto;
	*zoom: 1;
}

.column .padding {
	padding: 20px;
}

.full {
	padding-top: 40px;
}

.box {
	bottom: 0; /* increase for footer use */
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #444444;
	/*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top: 32px;
}

.navbar-blue {
	border-width: 0;
	background-color: #3B5999;
	color: #ffffff;
	font-family: arial, sans-serif;
	top: 0;
	position: fixed;
	width: inherit;
}

.navbar-blue li>a, .navbar-toggle {
	color: #efefef;
}

.navbar-blue .dropdown-menu li a {
	color: #2A4888;
}

.navbar-blue .dropdown-menu li>a {
	padding-left: 30px;
}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open,
	.navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus
	{
	background-color: #2A4888;
	color: #fff;
}

#main {
	background-color: #e9eaed;
	padding-left: 0;
	padding-right: 0;
}

#main .img-circle {
	margin-top: 18px;
	height: 70px;
	width: 70px;
}

#sidebar {
	padding: 0px;
	padding-top: 15px;
}

#sidebar, #sidebar a, #sidebar-footer a, #sidebar button {
	color: #ffffff;
	background-color: transparent;
	text-shadow: 0 0 2px #000000;
	padding-left: 5px;
	text-decoration: none;
}

#sidebar .nav li>a:hover, #sidebar .nav li>button:hover, #sidebar .nav li:hover
	{
	background-color: #3B5999;
	text-decoration: none;
}

.logo {
	display: block;
	padding: 3px;
	background-color: #fff;
	color: #3B5999;
	height: 28px;
	width: 28px;
	margin: 9px;
	margin-right: 2px;
	margin-left: 15px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 1px;
	border-radius: 2px;
}

#sidebar-footer {
	background-color: #444;
	position: absolute;
	bottom: 5px;
	padding: 5px;
}

#footer {
	margin-bottom: 20px;
}

/* bootstrap overrides */
h1, h2, h3 {
	font-weight: 800;
}

.navbar-toggle, .close {
	outline: 0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover,
	.list-group-item.active:focus {
	background-color: #3B5999;
	color: #fffffe;
}

.panel textarea, .well textarea, textarea.form-control {
	resize: none;
}

.badge {
	color: #3B5999;
	background-color: #fff;
}

.badge:hover, .badge-inverse {
	background-color: #3B5999;
	color: #fff;
}

.jumbotron {
	background-color: transparent;
}

.label-default {
	background-color: #dddddd;
}

.page-header {
	margin-top: 55px;
	padding-top: 9px;
	border-top: 1px solid #eeeeee;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.panel-default .panel-heading {
	background-color: #f9fafb;
	color: #555555;
}

.col-sm-9.full {
	width: 100%;
}

.modal-header, .modal-footer {
	background-color: #f2f2f2;
	font-weight: 800;
	font-size: 12px;
}

.modal-footer i, .well i {
	font-size: 20px;
	color: #c0c0c0;
}

.modal-body {
	padding: 0px;
}

.modal-body textarea.form-control {
	resize: none;
	border: 0;
	box-shadow: 0 0 0;
}

small.text-muted {
	font-family: courier, courier-new, monospace;
}

/* adjust the contents on smaller devices */
@media ( max-width : 768px) {
	.column .padding {
		padding: 7px;
	}
	.full {
		padding-top: 20px;
	}
	.navbar-blue {
		background-color: #3B5999;
		top: 0;
		width: 100%;
		position: relative;
	}
}
/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-left.active {
		left: 33%;
	}
	.row-offcanvas-left.active .sidebar-offcanvas {
		left: -33%;
		position: absolute;
		top: 0;
		width: 33%;
		margin-left: 5px;
	}
	#sidebar, #sidebar a, #sidebar-footer a {
		padding-left: 3px;
	}
}

/*even row*/
.table-hover tbody tr td.even {
	background: #dff0d8;
}
/*hover row*/
.table-hover tbody tr:hover td {
	background: #f2dede;
}
/*hover table row title*/
.table-hover thead tr:hover th {
	cursor: pointer;
	background: #f2dede;
}
/*selected row*/
.table-hover tbody tr td.selected {
	text-decoration: line-through;
	background: beige;
}

.stylish-input-group .input-group-addon {
	background: white !important;
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

span.ui-match {
	background: yellow;
}

.error-text {
	color: red;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: #fff;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
	color: #fff;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.panel-primary a {
	color: #337ab7;
}

.huge {
	font-size: 40px;
}

.bigger {
	font-size: 25px;
}

.glyphicon-bigger {
	font-size: 70px;
}

.tag {
	margin-right: 2px;
	color: white;
	background-color: #f0ad4e;
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
/*     border-top:1px dotted #bbb; */
/*     padding:10px; */
}

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}