<div class="row panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Edit song</h3>
	</div>
	<div class="panel-body">
		<form name="frm-edit-song" class="form-horizontal" role="form" ng-submit="update()">
			
			<div class="form-group">
				<label for="id" class="col-md-2 control-label">ID</label>
				<div class="col-md-10">
					<input type="text" class="form-control" disabled id="id" name="id"
						ng-model="song.id" placeholder="Enter ID" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-md-2 control-label">Name</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="name" name="name" required
						ng-model="song.name" ng-trim="true" placeholder="Enter Name" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="gener" class="col-md-2 control-label">Gener</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="gener" name="gener" required
						ng-model="song.gener" ng-trim="true" placeholder="Enter Gener" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="artist" class="col-md-2 control-label">Artist</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="artist" name="artist" required
						ng-model="song.artist" ng-trim="true" placeholder="Enter Artist" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="musician" class="col-md-2 control-label">Musician</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="musician" name="musician" required
						ng-model="song.musician" ng-trim="true" placeholder="Enter Musician" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="lastUpdate" class="col-md-2 control-label">Last update: </label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="lastUpdate" name="lastUpdate"
						ng-model="song.lastUpdate | date : 'dd/MM/yyyy - HH:mm:ss'" disabled/>
				</div>
			</div>
			
			<div class="form-group">
				<label for="share" class="col-md-2 control-label">Share: </label>
				<div class="col-md-10 checkbox">
					<label>
						<input type="checkbox" ng-model="song.shared" id="share" name="share"> Share with other users
					</label>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-primary" ng-disabled="frm-edit-song.$invalid">
						<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;Save
					</button>
					
					<button type="button" class="btn btn-success" ng-click="back()">
						<i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;&nbsp;Back
					</button>
					
					<button type="button" class="btn btn-danger pull-right" ng-click="deleteSong(song.id)"
						ng-confirm-click="Are you sure you want to remove selected song?">
						<i class="glyphicon glyphicon-remove-circle"></i>&nbsp;&nbsp;Delete
					</button>
				</div>
			</div>
		</form>
	</div>
</div>