<video id="turntable-video" loop="" autoplay="" onclick="if (!this.paused) { this.pause(); document.getElementById('turntable-audio').pause();} else { this.play(); document.getElementById('turntable-audio').play();}" style="width:100%; max-width:1920px">
	<source src="/music/turntable-video.mp4" type="video/mp4">
	<img id="turntable-static-video" src="resources/image/turntable-loop-poster.jpg" alt="" style="width:100%; max-width:1920px" />
</video> 
<audio id="turntable-audio" autoplay="" controls style="width: 100%" src="{{song.path}}"></audio>
<div class="row">
	<div class="col-md-6" style="padding:0">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<td class="col-md-1" style="border: none"><span class="glyphicon glyphicon-music"></span></td>
						<td class="col-md-11" style="border: none"><b>{{song.name}} - {{song.gener}}</b></td>
					</tr>
					<tr>
						<td class="col-md-1" style="border: none"><span class="glyphicon glyphicon-pencil"></span></td>
						<td class="col-md-11" style="border: none"><b>{{song.musician}}</b></td>
					</tr>
					<tr>
						<td class="col-md-1" style="border: none"><span class="glyphicon glyphicon-user"></span></td>
						<td class="col-md-11" style="border: none"><b>{{song.artist}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<button class="btn btn-default btn-xs pull-right" ng-click="downloadSong(song.id)">
			<span class="glyphicon glyphicon-download-alt"></span> Download
			<span class="badge">{{song.download}}</span>
		</button>
		<button class="btn btn-default btn-xs pull-right">
			<span class="glyphicon glyphicon-equalizer"></span> Listen
			<span class="badge">{{song.view}}</span>
		</button>
	</div>
</div>